#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: warancibia # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC2E4AdeYbkkt6yH8yEx6XX5TTl75At2cQtOPitSMiitEnlXKFWTQOmzzf/T/K0pk9SDKS8C4Mody+rGo+8X6oN5oN3+qFcUQLP0HNT981Jl9ULjYrg4eHKWLuQ2eZ3RhzC+Sj0N2m65EEdw06jvBFZbbqBGjIsoa5QzspNxGNJjALe8GVrxtiwz4tOPJkZZ4jlK3Nv5xAwuMtDWqaWqaAw3oWt1P95ZlhXgaOmQ5tesjAlgSd5Eej2S/CO28Bkh+F1s8+YtmVYwY+IUIra1VeJqbssXaGnJjSxRSfesACvDBisaRV+5gy/Li86wwG2yddXL1u4nyAuYvLWod4GgD88oVUBJwfVNR3J/6eevsx/Mw0D1c0a8BokDtEFPwgxm7FoT+USSH9iNwNvTsMmbi/M81gTBEcXon3SM5Q7b8imOwN88uPQCMFf8MmIYTyMnJR6LfgzW5THv4b8bAPjdz6o2Riq5c4Ijqr+o68/esN4CDplDw5I6yda+xhDaBCB1Z0= warancibia@wilarsantos
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
